* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2c1654; /* Violeta oscuro y profundo */
    color: #fff;
  }
  
  .container {
    text-align: center;
    width: 90%;
    max-width: 500px;
    padding: 40px;
    background: #1a0d39; /* Fondo violeta oscuro */
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  }
  
  h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  
  .logo {
    width: 35px;
    height: 35px;
  }
  
  .input-stage {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .input-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 350px; /* Limitar el tamaño máximo */
  }
  
  input[type="text"] {
    padding: 20px;
    width: 100%;
    font-size: 1.2em;
    border-radius: 10px;
    border: 1px solid #ccc;
    text-align: left;
    padding-right: 110px; /* Dejar espacio para el botón */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
  }
  
  .qr-btn {
    position: absolute;
    right: 10px; /* Alinear el botón a la derecha */
    top: 50%;
    transform: translateY(-50%);
    padding: 12px 25px;
    font-size: 1.1em;
    background-color: #3e2871; /* Azul oscuro */
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .qr-btn:hover {
    background-color: #5a3978;
  }
  
  button:disabled {
    background-color: #666;
    cursor: not-allowed;
  }
  
  .hidden {
    display: none;
  }
  
  #qrCodeContainer {
    width: 100%;
    max-width: 350px; /* Limitar el ancho máximo del QR */
    margin: 20px auto;
  }
  
  #qrCanvas {
    width: 100%; /* Hacer que el QR ocupe todo el ancho disponible */
    height: auto; /* Mantener la relación de aspecto del QR */
  }
  
  .actions {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
  }
  
  .action-btn {
    display: flex;
    align-items: center;
    background-color: #3e2871;
    color: white;
    font-size: 1.1em;
    border: none;
    border-radius: 10px;
    padding: 12px 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    gap: 10px;
  }
  
  .action-btn:hover {
    background-color: #5a3978;
  }
  
  .icon {
    width: 20px;
    height: 20px;
  }
  
  @media (max-width: 480px) {
    h1 {
      font-size: 1.8em;
    }
  
    input[type="text"], button {
      font-size: 1em;
      padding: 15px;
    }
  
    .icon {
      width: 18px;
      height: 18px;
    }
  }
  
  